.header_component{
  position: sticky;
  top: 0;
  z-index: 9;
}
.header_component .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #FF6000;
  color: #ffffff;
  padding: 0px 40px;
}
.header_component .header_logo_box{
  display: flex;
  align-items: center;
}
.header_component .header_describe{
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}
.header_component .header_right{
  display: flex;
}
.header_component .header_button{
  margin-left: 20px;
  font-size: 18px;
  cursor: pointer;
}
.header_component .header_button:hover{
  text-decoration: underline;
}
.header_component .github_button{
  margin-left: 10px;
  cursor: pointer;
}