.Generousa{
  margin: 0 auto;
  padding: 80px 0px;
  width: 1000px;
}
.Generousa .title{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.Generousa .text_box{
  margin-top: 40px;
  text-align: center;
  background-color: #ff6000;
  padding: 20px;
  color: #ffffff;
  border-radius: 20px;
  line-height: 2;
  font-size: 18px;
}
.Generousa .tips_box{
  margin-top: 20px;
  line-height: 2;
}
.Generousa .code_box{
  margin-top: 20px;
  margin-top: 40px;
  text-align: center;
  background-color: #000000;
  padding: 20px;
  color: #ffffff;
  border-radius: 20px;
  line-height: 2;
}